@import "tailwindcss";
@import "@fontsource/playfair-display"; /* ou a variante que instalou */

@theme {
  --font-playfair: "Playfair Display", Georgia, serif;
  --font-bebas: "Bebas Neue", Georgia, serif;
  --font-dmserif: "DM Serif Display", Georgia, serif, sans-serif;
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}



@layer base {
  :root {
    /* Garante que o scroll seja suave ao clicar em links internos (âncoras) */
    scroll-behavior: smooth;
  }

  html, 
  body, 
  #root {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

}
    
 



